.inputField {
  width: 400px;
  text-align: center;
  outline: none;

  font-family: "DejaVu Sans Mono", serif;
  font-size: 20px;
}

.nameInputField {
  height: 30px;
  margin-top: 200px;
}

.emailInputField {
  height: 30px;
  margin-top: 20px;
}

.textField {
  height: 200px;
  margin-top: 20px;
}
/*
   TODO text can goes to next line (no out of border)
    and then there will be a scroll button if the message is huge
 */
.submitButton {
  height: 45px;
  width: 200px;
  margin-top: 20px;
}

.resetButton {
  height: 45px;
  width: 200px;
  margin-top: 20px;
}

/*TODO add borders and background*/

.centerBlock {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.result {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DejaVu Sans Mono", serif;
  color: black;
  font-size: 25px;

  height: 100px;
  width: 100px;
}
